{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^solid-js",
    "^@solidjs/router",
    "<THIRD_PARTY_MODULES>",
    "^@/[^/]*$",
    "^@/.*$",
    "^[./]"
  ]
}
